<!DOCTYPE html>
<html>
<head>
	<title>{{ .Terms }} - Hanja Dictionary</title>
</head>
<body>
	<form method="post" action="/">
		<input id="terms" name="q" value="{{ .Terms }}">
	</form>

	{{ range .Hanjas }}
		<div class="hanja"><a href="/{{ .Hanja }}">{{ .Hanja }}</a> {{ .Definition }}</div>
	{{ end }}

	<div class="radicals">
	{{ range .Radicals }}
		<a href="/{{ . }}">{{ . }}</a>
	{{ end }}
	</div>

	<table class="similar-words">
	{{ range .SimilarWords }}
		<tr>
			<td><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td>{{ .English }}</td>
			<td>{{ .Hangul }}</td>
		</tr>
	{{ end }}
	</table>
</body>
</html>