<!DOCTYPE html>
<html>
<head>
	<title>{{ .Terms }} - Hanja Dictionary</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
	<style>
		a {
			text-decoration: none;
		}
		@media only screen and (min-width: 1000px) {
			body {
				font-size: 150%;
			}
		}
		#terms {
			border: none;
			font-size: 250%;
		}
		.nowrap {
			white-space: nowrap;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<form method="post" action="/">
		<input id="terms" name="q" value="{{ .Terms }}" style="width:100%;">
	</form>

	{{ range .Pronunciations }}
		{{ range .Hanja }}
			<span class="hanja"><a href="/{{ . }}">{{ . }}</a></span>
		{{ end }}
	{{ end }}

	<table>
	{{ range .Hanjas }}
		<tr>
			<td class="hanja nowrap"><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td>{{ .Definition }}</td>
		</tr>
	{{ end }}
	</table>

	<div class="radicals">
	{{ range .Radicals }}
		<a href="/{{ . }}">{{ . }}</a>
	{{ end }}
	</div>

	<table class="similar-words">
	{{ range .SimilarWords }}
		<tr>
			<td class="nowrap"><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td class="nowrap">{{ .Hangul }}</td>
			<td>{{ .English }}
			{{ if .IsVerb }}
				(<a href="http://dongsa.net/?infinitive={{ .Hangul }}">conjugate verb</a>)
			{{ end }}
			</td>
		</tr>
	{{ end }}
	</table>
</div>
</body>
</html>