<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109911835-5"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-109911835-5');
	</script>
	<title>{{ .Terms }} - Hanja Dictionary</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="oPaEVz9U7hjXxUqVafEEhyNbT-8tH_klI4OK1UVrQHk" />
	<style>
		a {
			text-decoration: none;
		}
		@media only screen and (min-width: 1000px) {
			body {
				font-size: 150%;
			}
		}
		#terms {
			border: none;
			font-size: 250%;
		}

		footer {
			font-size: 75%;
			margin-top: 1em;
		}

		.nowrap {
			white-space: nowrap;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<form method="post" action="/">
		<input id="terms" name="q" value="{{ .Terms }}" style="width:100%;">
	</form>

	{{ range .Pronunciations }}
		{{ range .Hanja }}
			<span class="hanja"><a href="/{{ . }}">{{ . }}</a></span>
		{{ end }}
	{{ end }}

	<table>
	{{ range .Hanjas }}
		<tr>
			<td class="hanja nowrap"><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td>{{ .Definition }}</td>
		</tr>
	{{ end }}
	</table>

	<div class="radicals">
	{{ range .Radicals }}
		<a href="/{{ . }}">{{ . }}</a>
	{{ end }}
	</div>

	<table class="similar-words">
	{{ range .SimilarWords }}
		<tr>
			<td class="nowrap"><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td class="nowrap">{{ .Hangul }}</td>
			<td>{{ .English }}
			{{ if .IsVerb }}
				(<a href="http://dongsa.net/?infinitive={{ .Hangul }}">conjugate verb</a>)
			{{ end }}
			</td>
		</tr>
	{{ end }}
	</table>
</div>
<footer>
hanjadic.bravender.net is &copy; 2008 - {{ .CurrentYear }} Dan Bravender. Source code is available on <a href="https://github.com/dbravender/hanjadic">GitHub</a>.
</footer>
</body>
</html>
