<!DOCTYPE html>
<html>
<head>
	<title>{{ .Terms }} - Hanja Dictionary</title>
	<style>
		body {
			font-size: 150%;
		}
		#terms {
			border: none;
			font-size: 250%;
		}
	</style>
</head>
<body>
	<form method="post" action="/">
		<input id="terms" name="q" value="{{ .Terms }}">
	</form>

	{{ range .Pronunciations }}
		{{ range .Hanja }}
			<span class="hanja"><a href="/{{ . }}">{{ . }}</a></span>
		{{ end }}
	{{ end }}

	{{ range .Hanjas }}
		<div class="hanja"><a href="/{{ .Hanja }}">{{ .Hanja }}</a> {{ .Definition }}</div>
	{{ end }}

	<div class="radicals">
	{{ range .Radicals }}
		<a href="/{{ . }}">{{ . }}</a>
	{{ end }}
	</div>

	<table class="similar-words">
	{{ range .SimilarWords }}
		<tr>
			<td><a href="/{{ .Hanja }}">{{ .Hanja }}</a></td>
			<td>{{ .English }}</td>
			<td>{{ .Hangul }}</td>
			{{ if .IsVerb }}
				<td><a href="http://dongsa.net/?infinitive={{ .Hangul }}">conjugate verb</a></td>
			{{ else }}
				<td></td>
			{{ end }}
		</tr>
	{{ end }}
	</table>
</div>
</body>
</html>